.limited-time-deal-container{
	width: 100%;
	background: $white;
	border: 1px solid $beige;
	.time-limit{
		color: $red;
		font-size: $sigma;
		@include media($breakpoint-800){ font-size: $iota; }
		margin-bottom: 0;
		border-bottom: 1px solid $beige;
	}
	&:hover .product-arrow-cta{
		right: 2em;
	}
}

.limited-time-deal{
	.product-image{
		@include maintain-ratio(16 9);
		background-size: 95%;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.logo-container{
		width: 17.5%;
		@include media($breakpoint-800){
			width: 12.5%;
		}
	}
	.merchant-name{
		font-size: $kappa;
		padding-left: $spacing-default/2;
		@include media($breakpoint-800){
			font-size: $kappa;
			vertical-align: middle;
			line-height: 63px;
			width: 87.5%;
		}
		width: 82.5%;
	}
	.product-name{
		@include media($breakpoint-800){
			font-size: $iota;
		}
		font-size: $kappa;
		color: $black;
		line-height: 1.2em;
		padding-top: .5em;
	}

	.product-price{
		padding-top: .75em;
		@include media($breakpoint-800){ padding-top: 1.5em; }
		.old-price{
			text-decoration: line-through;
			color: $light-gray;
			font-size: $sigma
		}
		.new-price{
			color: $blue;
			@include media($breakpoint-800){
				font-size: $zeta;
			}
			font-size: $iota;
			font-weight: bold;
			line-height: 1.3em;
		}
	}
}

.product-arrow-cta{
	position: absolute;
	bottom: 3em;
	right: 3em;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}